<!-- About section -->
<section id="about" class="section mt-3">
  <div class="container mt-5">
    <div class="row text-center text-md-left">
      <div class="col-md-3">
        <img
          src="https://img.freepik.com/free-vector/group-chat-concept-illustration_114360-1495.jpg?w=826&t=st=1675270771~exp=1675271371~hmac=ef51235099c4629dfcb7b5fde78912efaf634532206899c8893ba8de161569f7"
          alt=""
          class="img-thumbnail mb-4"
        />
      </div>
      <div class="pl-md-4 col-md-9">
        <h6 class="title">Chatter</h6>
        <p class="subtitle">The Chat Application</p>
        <p>
          Chatting apps are software tools that allow users to send and receive
          messages online. Nowadays, this kind of application is built into
          every smartphone, it is available for everyone and it is very popular.
          Users can communicate with other users over the Internet and it is a
          real-time transmission of text, audio, or video messages. Every online
          chatting software offers many different functions and features..
        </p>
        <div *ngIf="isLoggedIn">
          <button class="btn btn-primary rounded mt-3" [routerLink]="'/home'">
            Get Started
          </button>
        </div>
        <div *ngIf="!isLoggedIn">
          <button
            class="btn btn-primary rounded mt-3"
            [routerLink]="'/landing'"
          >
            Get Started
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
