<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

<!-- Page Header -->
<header class="header" id="home">
    <div class="container">
        <div class="infos">
            <h6 class="subtitle">hello,I'm</h6>
            <h6 class="title">CHATTER</h6>
            <p>The Chat Application</p>

            <div class="buttons pt-3">
                <button class="btn btn-primary rounded"  [routerLink]="'/login'">LogIn</button> &nbsp;
                <button class="btn btn-dark rounded" [routerLink]="'/signup'">Register</button>
            </div>   
        </div>              
        <div class="img-holder">
            <img src="https://img.freepik.com/free-vector/hipster-people-talking-using-computers-co-working_74855-5267.jpg?w=900&t=st=1675258716~exp=1675259316~hmac=ab79e8be97cdcc77a2566ec01f19ba3c849b1d21cb273896ae9538ed15392ecd" alt="">
        </div>      
    </div>  
    </header>
  
    </body>