<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form
      action="/create"
      method="POST"
      class="example-form"
      [formGroup]="formData"
      (ngSubmit)="onClickSubmit(formData.value)"
    >
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Name"
            class="input"
            type="text"
            formControlName="username"
            required
            autofocus
            id="username"
            #username
          />
        </mat-form-field>
        <mat-error>
          <div
            *ngIf="
              formData.get('username').invalid &&
              (formData.get('username').dirty ||
                formData.get('username').touched)
            "
          >
            <div *ngIf="formData.get('username').hasError('required')">
              Name is required.
            </div>
          </div>
        </mat-error>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Contact"
            class="input"
            type="tel"
            formControlName="contact"
            required
            minlength="10"
            maxlength="10"
            autofocus
            id="contact"
            pattern="[0-9]{10}"
            #contact
          />
        </mat-form-field>
        <mat-error>
          <div
            *ngIf="
              formData.get('contact').invalid &&
              (formData.get('contact').dirty || formData.get('contact').touched)
            "
          >
            <div *ngIf="formData.get('contact').hasError('required')">
              Contact is required.
            </div>
            <div
              *ngIf="
                formData.get('contact').hasError('minlength') ||
                formData.get('contact').hasError('maxlength')
              "
            >
              Contact must be 10 digits.
            </div>
            <div *ngIf="formData.get('contact').hasError('pattern')">
              Contact number must be digits only.
            </div>
          </div>
        </mat-error>
        <br />
        <mat-error>
          <div *ngIf="validContact == false">
            <div class="error">
              <span> {{ msg.contact }} </span>
            </div>
          </div>
        </mat-error>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="UserEmail "
            class="input"
            type="email"
            formControlName="email"
            required
            autofocus
            id="email"
            #useremail
          />
        </mat-form-field>
        <mat-error>
          <div
            *ngIf="
              formData.get('email').invalid &&
              (formData.get('email').dirty || formData.get('email').touched)
            "
          >
            <div *ngIf="formData.get('email').hasError('required')">
              Email is required.
            </div>
            <div *ngIf="formData.get('email').hasError('email')">
              Please enter a valid email address.
            </div>
          </div>
        </mat-error>
        <br />
        <mat-error>
          <div *ngIf="validEmail == false">
            <div class="error">
              <span> {{ msg.email }} </span>
            </div>
          </div>
        </mat-error>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Password "
            class="input"
            type="password"
            formControlName="password"
            required
            autofocus
            id="password"
            #password
          />
        </mat-form-field>
        <mat-error>
          <div
            *ngIf="
              formData.get('password').invalid &&
              (formData.get('password').dirty ||
                formData.get('password').touched)
            "
          >
            <div *ngIf="formData.get('password').hasError('required')">
              Password is required.
            </div>
            <div *ngIf="formData.get('password').hasError('minlength')">
              Password must be at least 8 characters long.
            </div>
          </div> </mat-error
        ><br />
        <mat-error>
          <div *ngIf="validPassword == false">
            <div class="error">
              <span> {{ msg.password }} </span>
            </div>
            <br />
          </div>
        </mat-error>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Confirm Password "
            class="input"
            type="password"
            formControlName="confirmPassword"
            required
            autofocus
          />
        </mat-form-field>
        <mat-error>
          <div
            *ngIf="
              formData.get('confirmPassword').invalid &&
              (formData.get('confirmPassword').dirty ||
                formData.get('confirmPassword').touched)
            "
          >
            <div *ngIf="formData.get('confirmPassword').hasError('required')">
              Confirm password is required.
            </div>
            <div *ngIf="formData.get('confirmPassword').hasError('minlength')">
              Password must be at least 8 characters long.
            </div>
          </div>
        </mat-error>
        <br />
        <mat-error>
          <div *ngIf="validFields == false">
            <br />
            <div class="error">
              <span> {{ msg.feilds }} </span>
            </div>
            <br />
          </div>
        </mat-error>
      </mat-card-content>

      <button mat-stroked-button class="btn-block" type="submit">
        Register
      </button>
      <br />
      <div class="container">
        <span class="login-wrapper">Already a user? </span>
        <a [routerLink]="'/login'" routerLinkActive="router-link-active"
          >Login</a
        >
      </div>
    </form>
    <!-- <mat-error>
      <div
        *ngIf="
          formData.get('password').hasError('required') &&
          formData.get('password').touched
        "
      >
        Password is required.
      </div>
    </mat-error>
    <mat-error>
      <div
        *ngIf="
          formData.get('confirmPassword').hasError('required') &&
          formData.get('confirmPassword').touched
        "
      >
        Confirm Password is required.
      </div>
    </mat-error> -->
  </mat-card>
</div>
