<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="container">
  <aside>
    <header>
      <div class="title"> My Chats </div>
    </header>
    <ul>
      <li *ngFor="let user of USERS" (click)="selectUserHandler(user.email)" [ngClass]="user.email==selected? 'li_selected' : ''">

        <img class="img-size" src="./assets/p5.webp" alt="" />
        <div>
          <h2>{{ user.name }}
          <div *ngFor="let onlineuser of onlineUsers">
            <div *ngIf="onlineuser.email==user.email">
              <h3>
                <span class="dot"></span>
              </h3>
            </div>
          </div>
          <div *ngIf="user.count && user.count !== 0" #badge>
            <span class="badge">{{user.count}}</span>
          </div>
        </h2>
        </div>
      </li>
    </ul>

  </aside>
  <main>
    <ng-container *ngIf="selectedUser">
      <header>
        <img class="img-size" src="./assets/p5.webp" alt="" />
        <div>
          <h2>Chat with {{ selectedUser.name }}</h2>
        </div>
      </header>
      <main>
        <div>
          <ul id="chat" #chat_messages>
            <!-- [ngClass]="item?.email === currentUser?.email?  'same-user' : 'you'" -->
            <div
              *ngFor="let msg of messages"
            >
              <li
                [ngClass]="{
                  you: msg.sender === selectedUser.email,
                  me: msg.sender === currentUser.email
                }"
              >
                <div class="entete">
                  <span class="status green"></span>
                  <h2 *ngIf="msg.sender === selectedUser.email; else elseblock">
                    {{ selectedUser.name }}&nbsp;
                  </h2>
                  <ng-template #elseblock>
                    <h2>{{ currentUser.name }} &nbsp;</h2>
                  </ng-template>
                  <h3>{{ msg.timestamp | date : "shortTime" }}</h3>
                </div>
                <div class="triangle"></div>
                <div class="message">{{ msg.message }}</div>
              </li>
            </div>
          </ul>
        </div>
        <footer>
          <div class="footer-btn text-center">
            <form (submit)="sendMessage(message)">
              <button class="btn">Send</button>
              <textarea
              autofocus #textareaRef
              maxlength="1000"
                placeholder="Type your message"
                id="inputMessage"
                name="messageInput"
                [(ngModel)]="message"
                (keyup.enter)="sendMessage(message)"
              ></textarea>
            </form>
          </div>
        </footer>
        <!-- </ng-container> -->
      </main>
    </ng-container>
  </main>
</div>
