<div id="container">
  <aside>
    <header>
      <input type="text" placeholder="search" />
    </header>
    <ul>
      <li *ngFor="let user of USERS" (click)="selectUserHandler(user.email)">
          <img class="img-size" src="./assets/p5.webp" alt="" />
        <div>
          <h2>{{ user.name }}</h2>
          <h3>
            <span class="status orange"></span>
          </h3>
        </div>
      </li>
    </ul>
  </aside>
  <main>
    <header>
      <img class="img-size" src="./assets/p5.webp" alt="" />
      <div>
        <h2>Chat with {{selectedUser.name}}</h2>
        <!-- <h3>already 1902 messages</h3> -->
      </div>
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png"
        alt=""
      />
    </header>
    <main>
      <div class="chat">
        <!-- <ng-container *ngIf="selectedUser"> -->

          <div class="chat">
            <!-- <div *ngFor="let item of messageArray" [ngClass]="item?.email === currentUser?.email?  'same-user' : 'you'"> -->
              <p class="message-container">{{message}}</p>
            <!-- </div> -->
          </div>
      <!-- <ul id="chat">
        <li class="you">
          <div class="entete">
            <span class="status green"></span>
            <h2>Muskan</h2>
            <h3>10:12AM, Today</h3>
          </div>
          <div class="triangle"></div>
          <div class="message"></div>
        </li>
        <li class="me">
          <div class="entete">
            <h3>10:12AM, Today</h3>
            <h2>You</h2>
            <span class="status blue"></span>
          </div>
          <div class="triangle"></div>
          <div class="message">I was stuck somewhere.</div>
        </li>
        <li class="me">
          <div class="entete">
            <h3>10:12AM, Today</h3>
            <h2>You</h2>
            <span class="status blue"></span>
          </div>
          <div class="triangle"></div>
          <div class="message">I'm sorry</div>
        </li>
        <li class="you">
          <div class="entete">
            <span class="status green"></span>
            <h2>Muskan</h2>
            <h3>10:12AM, Today</h3>
          </div>
          <div class="triangle"></div>
          <div class="message">It's okay, How are you?</div>
        </li>
        <li class="me">
          <div class="entete">
            <h3>10:12AM, Today</h3>
            <h2>You</h2>
            <span class="status blue"></span>
          </div>
          <div class="triangle"></div>
          <div class="message">I am Fine.</div>
        </li>
        <li class="me">
          <div class="entete">
            <h3>10:12AM, Today</h3>
            <h2>You</h2>
            <span class="status blue"></span>
          </div>
          <div class="triangle"></div>
          <div class="message">OK, ttyl</div>
        </li>
      </ul> -->
      <footer>
        <div class="footer-btn  text-center">
          <button class="btn "
          (click)="sendMessage()">Send
        </button>
        <textarea placeholder="Type your message"></textarea>
        </div>
      </footer>
    <!-- </ng-container> -->
  </div>
    </main>
  </main>
</div>
