* {
  box-sizing: border-box;
}

body {
  background-color: #abd9e9;
  font-family: Arial;
}

#container {
  display: inline-flex;
  width: 100%;
}

aside {
  width: 100%;
}

main {
  width: 100%;
}

/* Adjust layout for small screens */
@media (max-width: 100px) {
  #container {
    flex-direction: row;
  }
  main {
    display: none;
  }
}

#container {
  scrollbar-width: none;
  width: 97%;
  height: 85%;
  background: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 0;
  border-radius: 5px;
  border: 2px #000000;
  overflow: hidden;
}

aside {
  scrollbar-width: none;
  width: fit-content;
  height: 100%;
  min-width: fit-content;

  background-color: #3b3e49;
  display: inline-block;
  font-size: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
  min-width: fit-content;
  display: inline-block;
  background: #eff3f7;
  font-size: 15px;
  vertical-align: top;
  overflow: hidden;
  scrollbar-width: none;
  word-wrap: break-word;
}

aside header {
  padding: 30px 20px;
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
}

.icon_bubble.msg {
  width: 30px;
  height: 30px;
  background: linear-gradient(90deg, #d13eea, #53d9ea);
  border-radius: 50%;
}

aside ul {
  scrollbar-width: none;
  padding-left: 0;
  margin: 0;
  top: 0;
  background-origin: padding-box;
  box-sizing: border-box;
  list-style-type: none;
  overflow-y: hidden;
}
aside li {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-right: 20px;
}
aside li:hover {
  background-color: #5e616a;
}
.li_selected {
  background-color: #5e616a;
}
h2,
h3 {
  margin: 0;
}
aside li img {
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 8px;
}
aside li div {
  display: inline-block;
  vertical-align: top;
}
aside li h2 {
  margin-top: 12px;
  font-size: 14px;
  color: #fff;
}
aside li h3 {
  margin-top: -12px;
  margin-left: 5px;
  color: #7e818a;
}

/* .status_green {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
  background-color: #58b666;

}
.status_orange {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
  background-color: #ff725d;
} */

main header {
  position: sticky;
  height: 110px;
  width: fit-content;
  padding: 30px 20px 30px 40px;
}
main header > * {
  display: inline-block;
  vertical-align: top;
}

main header div {
  margin-left: 15px;
  left: 0;
}
main header h2 {
  width: fit-content;
  display: inline;
  font-size: 20px;
  margin-top: 12px;
}
main header h3 {
  font-size: 14px;
  font-weight: normal;
  color: #7e818a;
}

#chat {
  width: auto;
  scrollbar-width: none;
  padding-left: 0;
  top: 0;
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 370px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  word-wrap: break-word;
}
#chat li {
  padding: 10px 30px;
}
#chat h2,
#chat h3 {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
}
#chat h3 {
  color: #bbb;
}
#chat .entete {
  margin-bottom: 5px;
}
#chat .message {
  color: #fff;
  line-height: 25px;
  max-width: 90%;
  display: inline-block;
  border-radius: 5px;
}
#chat .me {
  text-align: right;
}
#chat .you .message {
  background-color: #fd6c44;
  padding: 5px 20px 5px 10px;
}
#chat .me .message {
  background-color: #aeaeae;
  padding: 5px 10px 5px 20px;
}
#chat .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
}
#chat .you .triangle {
  border-color: transparent transparent #fd6c44 transparent;
  margin-left: 15px;
}
#chat .me .triangle {
  position: sticky;
  left: 100%;
  margin-right: 10px;
  border-color: transparent transparent #aeaeae transparent;
}

main footer {
  position: relative;
  margin-bottom: auto;
  height: 50px;
  width: auto;
  padding: 10px 40px 20px 20px;
}
main footer textarea {
  scrollbar-width: none;
  overflow-y: scroll;
  word-wrap: break-word;
  padding: 10px;

  background-color: #fff;
  margin-bottom: auto;
  resize: none;
  display: inline-flex;
  width: 100%;
  height: auto;
  border: none;
  border-radius: 15px;
  padding: 20px;
  padding-inline-end: 150px;
  font-size: 13px;
  outline: none;
}
main footer textarea::placeholder {
  background: #fff;
  border: none;
  border-radius: 15px;
}
main footer img {
  height: 30px;
  cursor: pointer;
}
.footer-btn {
  position: relative;
  width: 100%;
  height: 100px;
}

main footer button {
  position: absolute;
  background-color: #ff7a57;
  margin-top: 25px;
  margin-bottom: auto;
  right: 10px;
  width: 120px;
}

.img-size {
  width: 50px;
  height: 50px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #0bee2d;
  border-radius: 50%;
  display: inline-block;
}
aside li h2 .badge {
  position: absolute;
  /* top: -10px;
  right: -10px;*/
  display: inline;
  margin-left: 10px;
  border-radius: 50%;
  background: orange;
  color: black;
}
