* {
  box-sizing: border-box;
}
body {
  background-color: #abd9e9;
  font-family: Arial;
}
#container {
  max-width: fit-content;
  max-height: 2000px;
  min-width: 1440px;
  background: #eff3f7;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 0;
  border-radius: 5px;
  border: 2px #000000;
  overflow: hidden;
}

main {
  max-width: auto;
  max-height: auto;
  min-width: 1180px;
  min-height: 700px;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
  
}

.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}
.green {
  background-color: #58b666;
}
.orange {
  background-color: #ff725d;
}
.blue {
  background-color: #6fbced;
  margin-right: 0;
  margin-left: 7px;
}

main header {
  position: sticky;
  height: 90px;
  width: auto;
  padding: 25px 15px 30px 30px;
}
main header > * {
  display: inline-block;
  vertical-align: middle;
}

main header img:last-child {
  width: 20px;
  margin-top: 5px;
  margin-right: 70px;
  right: 0;
  position: absolute;
}

main header div {
  margin-left: 10px;
  margin-right: 145px;
}
main header h2 {
  font-size: 16px;
  margin-bottom: 5px;
}
main header h3 {
  font-size: 14px;
  font-weight: normal;
  color: #7e818a;
}

#chat {
  scrollbar-width:none;
  padding-left: 0;
  margin: 0;
  top: 0;
  list-style-type: none;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  height: 420px;
  width: 730px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#chat::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#chat li {
  padding: 10px 30px;
}
#chat h2,
#chat h3 {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
}
#chat h3 {
  color: #bbb;
}
#chat .entete {
  margin-bottom: 5px;
}
#chat .message {
  padding: 20px;
  color: #fff;
  line-height: 10px;
  max-width: 90%;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}
#chat .me {
  text-align: right;
}
#chat .you .message {
  background-color: #fd6c44;
}
#chat .me .message {
  background-color: #aeaeae;
}
#chat .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
}
#chat .you .triangle {
  border-color: transparent transparent #fd6c44 transparent;
  margin-left: 15px;
}
#chat .me .triangle {
  border-color: transparent transparent #aeaeae transparent;
  margin-left: 600px;
}

main footer {
  position: sticky;
  bottom: 0;
  height: 100px;
  padding: 20px 30px 10px 20px;
}
main footer textarea {
  resize: none;
  border: 2px;
  display: inline-block;
  width: 100%;
  height: 70px;
  border-radius: 3px;
  padding: 20px;
  font-size: 13px;
  margin-bottom: 13px;
}
main footer {
  bottom: 0;
  height: 155px;
  padding: 15px 470px 10px 20px;
}
main footer textarea {
  background-color: #aeaaaa;
  resize: none;
  border: 2px;
  display: inline-block;
  width: 85%;
  height: 70px;
  border-radius: 3px;
  padding: 20px;
  float:left;
  font-size: 13px;
  margin-bottom: 5px;
}
main footer textarea::placeholder {
  color: #ffffff;
}
main footer img {
  height: 30px;
  cursor: pointer;
}
/* main footer a {
  /* text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #3da6e7;
  display: inline-block;
  float: right;
  margin-top: 25px;
  margin-right: 25px; */


.img-size {
  width: 50px;
  height: 50px;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.btn-primary {
  color: #ffffff;
  background-color: #ff7a57;
  border-color: #ff7a57;
  display: inline-block;
  font-weight: 40;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 0.5rem;
  float: right;
  margin: 20px;
  font-size: 15px;
  font-weight: 500;
  width: 60px;

}

.btn-primary:hover {
  color: #fff;
  background-color: #ff5c31;
  border-color: #ff5224;
}

.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 109, 80, 0.5);
}

.temp{
  margin: 5px;
}