<div id="container">
  <aside>
    <header>
      <input type="text" placeholder="search" />
    </header>
    <ul>
      <li *ngFor="let user of USERS" (click)="selectUserHandler(user.email)">
          <img class="img-size" src="./assets/p5.webp" alt="" />
        <div>
          <h2>{{ user.name }}</h2>
          <h3>
            <span class="status orange"></span>
          </h3>
        </div>
      </li>
    </ul>
  </aside>
  <main>
    <header>
      <img class="img-size" src="./assets/p5.webp" alt="" />
      <div>
        <h2>Chat with {{selectedUser.name}}</h2>
        <!-- <h3>already 1902 messages</h3> -->
      </div>
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png"
        alt=""
      />
    </header>
    <main>
      <div class="chat">
        <ul id="chat">
          <!-- [ngClass]="item?.email === currentUser?.email?  'same-user' : 'you'" -->
          <div *ngFor="let msg of messages | keyvalue">
            <li [ngClass]="{ 'you': msg.value.sender === selectedUser.name, 'me': msg.value.sender === currentUser.name }">
              <div class="entete">
                <span class="status green"></span>
                <h2>{{msg.value.sender}}</h2>
                <h3>{{timestamp}}</h3>
              </div>
              <div class="triangle"></div>
              <div class="message">{{msg.value.message}}</div>
            </li>
          </div>
          
        </ul>
      </div>
      <footer>
        <div class="footer-btn  text-center">
          <form (submit)="sendMessage(message)">
            <button class="btn ">
              Send
            </button>
            <textarea placeholder="Type your message" id="inputMessage" name="messageInput" [(ngModel)]="message"></textarea>
          </form>
        </div>
      </footer>
    <!-- </ng-container> -->
  </main>

  </main>
</div>
