<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
  <!-- Page Header -->
  <header class="header" id="home">
    <div class="container">
      <div class="infos">
        <h6 class="subtitle">hello,I'm</h6>
        <h6 class="title">CHATTER</h6>
        <p>The Chat Application</p>

        <div class="buttons pt-3">
          <button class="btn btn-primary rounded" [routerLink]="'/login'">
            LogIn
          </button>
          &nbsp;
          <button class="btn btn-dark rounded" [routerLink]="'/signup'">
            Register
          </button>
        </div>
      </div>
      
      <div class="img-holder">
        <img src="/assets/landing_img.avif" alt="" />
      </div>
    </div>
  </header>
</body>
