<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          Username:<br /><br />
          <input matInput placeholder="Username" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          Email: <br /><br />
          <input matInput placeholder="Email" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          Password: <br /><br /><input matInput placeholder="Password" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          Contact No: <br /><br /><input matInput placeholder="Contact No" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          
          
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button class="btn-block">Register</button>
    </form>
  </mat-card>
</div>
