.btn-block
{
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #ff7a57;
  border-color: #ff7a57;
  text-align:center;


}


.btn-block:hover {
  color: #fff;
  background-color: #ff5c31;
  border-color: #ff5224;
}
