<div class="form-container mat-elevation-z5 text-center">
  <h1>User Profile</h1>

  <div  *ngIf="!isClicked" class="profile-image">
    <img
      *ngIf="imageUrl == ''"
      width="120"
      height="120"
      src="/assets/profile-img.jpg"
    />

    <img *ngIf="imageUrl !== ''" [src]="imageUrl" width="120" height="120" />

    <button mat-mini-fab name="profile_picture" (click)="upload()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <div *ngIf="isClicked" class="avatar-container">
    <div *ngFor="let imgUrl of img">
      <div (click)="selectedAvatar(imgUrl)">
        <img [src]="imgUrl"  class="avatar-container-item" />
      </div>
    </div>
  </div>

  <form
    [formGroup]="updateForm"
    (ngSubmit)="save(updateForm.value)"
  >
    <mat-form-field>
      <input matInput formControlName="username" placeholder="Username" />
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="userContact" placeholder="Contact" />
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="userEmail" placeholder="Email" />
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="display" placeholder="Display Name" />
    </mat-form-field>

    <!-- <button type="submit" class="btn-block" mat-stroked-button>
      Change Password
    </button> -->
    <button class="btn-block margin-top" mat-stroked-button type="submit">
      Save
    </button>
  </form>
</div>
