.profile-image img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-image {
  position: relative;
  width: 120px;
  margin: auto;
}

.profile-image > button {
  position: absolute;
  bottom: 10px;
  right: 0;
}

/* You can add global styles to this file, and also import other style files */

.form-container {
  display: block;
  max-width: 600px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  background: #eceff1;
  padding: 48px;
  border-radius: 16px;
}

.form-container mat-form-field {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px;
  margin-bottom: -10px;
}

.text-center {
  text-align: center;
}
.btn-block {
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #ff7a57;
  border-color: #ff7a57;
  text-align: center;
}

.btn-block:hover {
  color: #fff;
  background-color: #ff5c31;
  border-color: #ff5224;
}


