<!-- <form [[formGroup]="formData" (ngSubmit)=""] -->
<div class="form-container mat-elevation-z5 text-center">
  <h1>User Profile</h1>

  <div class="profile-image">
    <img width="120" height="120" src="/assets/profile-img.jpg" />
    <button
      mat-mini-fab
      (click)="
        inputField.click();
      "
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <input #inputField type="file" (change)="onSelectFile($event)" hidden />

  <form [formGroup]="updateForm" (ngSubmit)="save(updateForm.value)">
    <mat-form-field>
      <input matInput formControlName="username" placeholder="Username">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="userContact" placeholder="Contact">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="userEmail" placeholder="Email">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="display" placeholder="Display Name">
    </mat-form-field>

    <button type="submit" class="btn-block" mat-stroked-button>
      Change Password
    </button>
    <button class="btn-block margin-top" mat-stroked-button type="submit">Save</button>
  </form>


</div>
