
.avatar-container {
  width: 80px;
  margin: 30px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-container-item {
  background: #999999;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin-left: -10px;
  transition : .7s all ease-in-out;
  transform: scale(1);
}

  .avatar-container-item:hover {
      background: lighten(#3d3d3d, 50%);
      cursor: pointer;
      transform: scale(1.5);
      z-index: 2;
  }


  .avatar-container-item {
  font-size: 20px;
  padding: 0 10px;
  color: #3d3d3d;
  content: "+",
}
.avatar-container-item:hover {
    color: lighten(#3d3d3d, 20%);
    cursor: pointer
  }


.avatar-container__expanded 
  .avatar-container-item {
    margin-left: 10px;
    transition: .7s all ease-in-out;
  }

.profile-image img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  border: 3px solid  #d0c8c8;
}

.profile-image {
  position: relative;
  width: 120px;
  margin: auto;
}

.profile-image > button {
  position: absolute;
  bottom: 10px;
  right: 0;
}


.form-container {
  display: block;
  max-width: 600px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  background: #eceff1;
  padding: 48px;
  border-radius: 16px;
}

.form-container mat-form-field {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px;
  margin-bottom: -10px;
}

.text-center {
  text-align: center;
}
.btn-block {
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #ff7a57;
  border-color: #ff7a57;
  text-align: center;
}

.btn-block:hover {
  color: #fff;
  background-color: #ff5c31;
  border-color: #ff5224;
}

@media (max-width: 480px) {
  .profile-image {
    width: 60px;
  }

  .form-container {
    width: 50%;
    max-width: 300px;
    margin-top: 60px;
    padding: 16px;
    border-radius: 4px;
  }

  .btn-block {
    font-size: 12px;
    padding: 0.5rem 1rem;
  }
}
