*{
    box-sizing:border-box;
    overflow: hidden;
  }
  body{
    background-color:#abd9e9;
    font-family:Arial;
  }
  #container{
    max-width: fit-content;
    max-height: 600px;
     background:#eff3f7;
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size:0;
    border-radius:5px;
    border: 2px #000000;
    overflow: hidden;
  }
  aside{
    max-width:300px;
    max-height: 600px;
    background-color:#3b3e49;
    display:inline-block;
    font-size:15px;
    overflow:hidden;
  }
  #container aside{
    min-width: auto;
    min-height: 600px;
  }
  main{
    max-width:800px;
    max-height:600px;
    min-width: auto;
    min-height: auto;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
  }

  aside header{
    padding:30px 20px;
  }
  aside input{
    width:auto;
    height:50px;
    line-height:50px;
    padding:0 50px 0 20px;
    background-color:#5e616a;
    border:none;
    border-radius:3px;
    color:#fff;
    background-image:url(/assets/ico_search.png);
    background-repeat:no-repeat;
    background-position:170px;
    background-size:40px;
  }
  aside input::placeholder{
    color:#fff;
  }
  aside ul{
    scrollbar-width: none;
    padding-left:0;
    margin:0;
    top: 0;
    background-origin: padding-box;
    box-sizing: border-box;
    list-style-type:none;
    overflow-y:scroll;
  }
  aside li{
    padding:10px 0;
  }
  aside li:hover{
    background-color:#5e616a;
  }
  h2,h3{
    margin:0;
  }
  aside li img{
    border-radius:50%;
    margin-left:20px;
    margin-right:8px;
  }
  aside li div{
    display:inline-block;
    vertical-align:top;
    margin-top:12px;
  }
  aside li h2{
    font-size:14px;
    color:#fff;
    font-weight:normal;
    margin-bottom:5px;
  }
  aside li h3{
    font-size:12px;
    color:#7e818a;
    font-weight:normal;
  }

  .status{
    width:8px;
    height:8px;
    border-radius:50%;
    display:inline-block;
    margin-right:7px;
  }
  .green{
    background-color:#58b666;
  }
  .orange{
    background-color:#ff725d;
  }
  .blue{
    background-color:#6fbced;
    margin-right:0;
    margin-left:7px;
  }

  main header{
    top: 0;
    position: sticky;
    height:110px;
    padding:30px 20px 30px 40px;
  }
  main header > *{
    display:inline-block;
    vertical-align:top;
  }
  main header img:first-child{
    border-radius:50%;
  }
  main header img:last-child{
    width:24px;
    margin-top:8px;
  }
  main header div{
    margin-left:10px;
    margin-right:145px;
  }
  main header h2{
    font-size:16px;
    margin-bottom:5px;
  }
  main header h3{
    font-size:14px;
    font-weight:normal;
    color:#7e818a;
  }

  #chat{
    scrollbar-width: none;
    padding-left:0;
    margin:0;
    top: 0;
    list-style-type:none;
    overflow-y:scroll;
    height:320px;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
  }
  #chat li{
    padding:10px 30px;
  }
  #chat h2,#chat h3{
    display:inline-block;
    font-size:13px;
    font-weight:normal;
  }
  #chat h3{
    color:#bbb;
  }
  #chat .entete{
    margin-bottom:5px;
  }
  #chat .message{
    padding:20px;
    color:#fff;
    line-height:25px;
    max-width:90%;
    display:inline-block;
    text-align:left;
    border-radius:5px;
  }
  #chat .me{
    text-align:right;
  }
  #chat .you .message{
    background-color:#fd6c44;
  }
  #chat .me .message{
    background-color:#aeaeae;
  }
  #chat .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
  }
  #chat .you .triangle{
      border-color: transparent transparent #fd6c44 transparent;
      margin-left:15px;
  }
  #chat .me .triangle{
      border-color: transparent transparent #aeaeae transparent;
      margin-left:375px;
  }

  main footer{
    bottom: 0;
    height:155px;
    padding:20px 30px 10px 20px;
  }
  main footer textarea{
    background-color: #aeaaaa;
    resize:none;
    border: 2px;
    display:inline-block;
    width:100%;
    height:80px;
    border-radius:3px;
    padding:20px;
    font-size:13px;
    margin-bottom:13px;
  }
  main footer textarea::placeholder{

    color:#ffffff;
  }
  main footer img{
    height:30px;
    cursor:pointer;
  }
  main footer a{
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    color:#3da6e7;
    vertical-align:top;
    margin-left: 250px;
    align-content: center;
    margin-top:5px;
    display:inline-block;
  }
